@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
}
